.iframe {
  height: 100vh;
  width: 100vw;
  position: fixed;
  pointer-events: none;
  opacity: 0.5;
  z-index: -1;
}

.homeWrapper {
  .intro {
    font-size: 1.3rem;
  }

}

.buyButton {
  font-size: 2rem;
}
