$font-family-space-mono: 'Space Mono';
$font-family-roboto: 'Roboto';
$font-family-base: $font-family-space-mono, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
